    <!--
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="http://labaixbidouille.com/" target="_blank"><img src="../assets/img/Logo_labo-500px.png" width="36" height="36"/></a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/users">Users</a></li>
                    <li class="pull-right" *ngIf="authenticated"><a href="" (click)="logout($event)">Logout</a></li>
                </ul>
            </div>
        </div>

    </div>
    -->
    <!--Modal Login-->
    <div id="loginModal" class="modal fade" *ngIf="!closeModal">
        <div class="login-box modal-dialog modal-sm box box-primary">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="box-header with-border">
                    <i class="fa fa-sign-in"></i>

                    <h3 class="box-title">Connexion</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer" data-dismiss="modal">
                            <i class="fa fa-times"></i></button>
                    </div>
                    <!-- /. tools -->
                </div>
                <form id="form" class="form" [formGroup]="loginForm" (ngSubmit)="authenticate($event); " >
                    <div class="modal-body form-horizontal">

                        <div class="text-center"><span class="label label-danger" *ngIf="error">{{error}}</span></div>

                        <div class="input-group input-margin-bottom" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i></button>
                            </div>
                            <input type="text" class="form-control" required [formControl]="loginForm.controls['username']"
                                   name="username" id="username" placeholder="e-mail ou login">
                        </div>

                        <div class="input-group input-margin-bottom" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i></button>
                            </div>
                            <input type="password" class="form-control" required [formControl]="loginForm.controls['password']"
                                   name="password" id="password" placeholder="Mot de passe">
                        </div>

                        <label class="checklabel" style="font-size:smaller;margin-right: 60px;">
                            <input type="checkbox" class="flat"> Rester Connecté
                        </label>
                        <a href="#" style="font-size:smaller; font-weight:bold; margin-top:5px;" class="pull-right">Mot de passe oublié ?</a>

                    </div>

                    <div class="modal-footer box-footer last-row">
                        <button type="button" class="btn btn-default pull-left" data-widget="remove" data-toggle="tooltip" title="Fermer" data-dismiss="modal"><i class="fa fa-ban"></i> Annuler</button>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary pull-right" ><i class="glyphicon glyphicon-log-in"></i> Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--SignUp Modal-->
    <div id="signUpModal" class="modal fade"  *ngIf="!closeModal">
        <div class="register-box modal-dialog modal-sm box box-primary">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="box-header with-border">
                    <i class="fa fa-rocket"></i>

                    <h3 class="box-title">Inscription</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer" data-dismiss="modal">
                            <i class="fa fa-times"></i></button>
                    </div>
                    <!-- /. tools -->
                </div>

                <div class="box-body">
                    <form id="signUpForm" class="form"  (ngSubmit)="createUser($event); " >
                        <div class="modal-body form-horizontal">

                            <!-- Error message here ?? -->
                            <div class="text-center"><span class="label label-danger" *ngIf="error">{{error}}</span></div>

                            <!--Sex-->
                            <div class="input-group input-margin-bottom">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="M" id="male" />Homme
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="F" id="female" />Femme
                                </label>
                            </div>

                            <!--Nom et prenom-->
                            <div class="input-group input-margin-bottom">
                                <div class="col-sm-6" style="padding-left: 0px">
                                    <input type="text" name="firstname" value="" class="form-control" placeholder="Votre prénom"  />
                                </div>

                                <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
                                    <input type="text" name="lastname" value="" class="form-control" placeholder="Votre nom"  />
                                </div>
                            </div>

                            <!--Pseudo-->
                            <div class="input-group input-margin-bottom" >
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i></button>
                                </div>

                                <input type="text" class="form-control"
                                       name="pseudonym" id="pseudonym" placeholder="Pseudonyme">
                            </div>

                            <!--Email-->
                            <div class="input-group input-margin-bottom" >
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-envelope"></i></button>
                                </div>

                                <input type="text" class="form-control"
                                       name="email" id="email" placeholder="Email">
                            </div>

                            <!--Password-->
                            <div class="input-group input-margin-bottom" >
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i></button>
                                </div>

                                <input type="password" class="form-control"
                                       name="password" id="pwd" placeholder="Mot de passe">
                            </div>

                            <!--Confirmer Password-->
                            <div class="input-group input-margin-bottom" >
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i></button>
                                </div>

                                <input type="password" class="form-control"
                                       name="confirmpassword" id="cpwd" placeholder="Confirmer le mot de passe">
                            </div>

                            <!--Groupe -->
                            <select name="group" class = "form-control input-margin-bottom ">
                                <option [value]="test">test</option>
                            </select>

                            <!--Date de naissance-->
                            <div class="input-group input-append date input-margin-bottom" data-provide="datepicker">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-calendar"></i></button>
                                </div>

                                <input type="text" class="form-control pull-right" name="birthday" id="datepicker" placeholder="Date de naissance">
                            </div>

                            <!--Tel-->
                            <div class="input-group input-margin-bottom">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-earphone"></i></button>
                                </div>

                                <input type="text" class="form-control"
                                       name="phone" id="phone" placeholder="Numéro de téléphone (TODO: add mask here)">
                            </div>

                            <div class="modal-footer" style="padding-bottom: 0px;">
                                <div class="form-group last-row" style="padding-bottom: 0px;">
                                    <button type="button" class="btn btn-default pull-left" data-widget="remove" data-toggle="tooltip" title="Fermer" data-dismiss="modal"><i class="fa fa-ban"></i> Annuler</button>
                                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary  pull-right" ><i class="glyphicon glyphicon-log-in"></i> Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--HeaderBar-->
    <header class="main-header">

        <!-- Logo -->
        <a href="http://labaixbidouille.com/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>L</b>AB</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>LAB</b>Aix Bidouille</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">

            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Réduire le panneau</span>
            </a>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu" *ngIf="authenticated">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-comments-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Vous avez 4 nouveaux messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <!-- User Image -->
                                                <img src="assets/img/profile_user.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                Seb
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>La machine est dispo...</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">Voir Tous Les Messages</a></li>
                        </ul>
                    </li>
                    <!-- /.messages-menu -->

                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu" *ngIf="authenticated">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Vous avez 10 notifications</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li><!-- start notification -->
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 nouveaux membres aujourd'hui
                                        </a>
                                    </li>
                                    <!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">Tout voir</a></li>
                        </ul>
                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu" *ngIf="authenticated">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="assets/img/profile_user.jpg" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Patou</span>
                        </a>

                        <ul class="dropdown-menu" >
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="assets/img/profile_user.jpg" class="img-circle" alt="User Image">

                                <p>
                                    François Lami - Roi de la bidouille
                                    <small>Membre depuis Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Portefeuille</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Twitter</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Site web</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Mon Profil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" (click)="logout($event)" class="btn btn-default btn-flat">Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li *ngIf="!authenticated"><a href="#signUpModal" data-toggle="modal" data-backdrop="false"><span class="fa fa-rocket"></span> S'inscrire</a></li>
                    <li *ngIf="!authenticated"><a href="#loginModal" data-toggle="modal" data-backdrop="false"><span class="fa fa-sign-in"></span> Se connecter</a></li>
                    <!--<li *ngIf="!authenticated"><button type="button"  class="fa fa-sign-in" data-target="#loginModal" data-toggle="modal" > Se connecter</button></li>-->
                </ul>
            </div>
        </nav>
    </header>