

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les Tarifs des Evenements du FABLAB
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active"><a href="#/admin/events/home">Gestion des tarifs</a></li>
            <li class="active">Ajout d'une tarif</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">

            <!-- Box header -->
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-th"></i> Ajouter un nouveau tarif</h3>
            </div>
            <!-- /.Box header -->

            <!-- Box body -->
            <div class="box-body">
                <form [formGroup]="pricesCategoriesForm" (ngSubmit)="addPricesCategories()" >
                    <fieldset>
                        <!-- Name -->
                        <div class="form-group"
                             [ngClass]="{'has-error':!pricesCategoriesForm.controls['name'].valid && pricesCategoriesForm.controls['name'].touched}">
                            <label for="name">Nom* </label>
                            <div >
                                <input id="name" name="name" type="text" placeholder="Nom du tarif"
                                       class="form-control" required [formControl]="pricesCategoriesForm.controls['name']">
                            </div>
                            <!--Errors Msg-->
                            <div *ngIf="pricesCategoriesForm.controls['name'].hasError('required') &&
                                  pricesCategoriesForm.controls['name'].touched" class="alert alert-danger">
                                Le nom du tarif doit etre renseigné.
                            </div>
                            <!--/.Errors Msg-->
                        </div>

                        <div class="form-group"
                             [ngClass]="{'has-error':!pricesCategoriesForm.controls['description'].valid &&
                             pricesCategoriesForm.controls['description'].touched}">
                            <label for="description">Description*</label>
                            <div >
                                <textarea id="description" name="description" placeholder="Veuillez indiiquer sous quelles conditions ce tarif est applicable" class="form-control" rows="5" required
                                          [formControl]="pricesCategoriesForm.controls['description']"></textarea>
                            </div>
                            <!-- Errors Msg-->
                            <div *ngIf="pricesCategoriesForm.controls['description'].hasError('required') &&
                                  pricesCategoriesForm.controls['description'].touched" class="alert alert-danger">
                                La description du tarif doit etre renseignée.
                            </div>
                            <div *ngIf="pricesCategoriesForm.controls['description'].hasError('minlength') &&
                                  pricesCategoriesForm.controls['description'].touched" class="alert alert-danger">
                                La description du tarif doit contenir 5 caracteres minimum.
                            </div>
                            <div *ngIf="pricesCategoriesForm.controls['description'].hasError('maxlength') &&
                                  pricesCategoriesForm.controls['description'].touched" class="alert alert-danger">
                                La description du tarif doit contenir 180 caracteres maximum.
                            </div>
                            <!--/. Errors Msg-->
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button (click)="goBack()" type="button" class="btn btn-danger"  title="Annuler"><i class="fa fa-ban"></i> Annuler</button>
                                <button [disabled]="!pricesCategoriesForm.valid" type="submit" class="btn btn-primary">Enregistrer le tarif</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.Box body -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
