

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les Evenements du FABLAB
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active"><a href="#/admin/events/home">Gestion des evenements</a></li>
            <li class="active">Ajout d'evenement</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">

            <!-- Box header -->
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tags"></i> Ajouter un nouvel evenement</h3>
            </div>
            <!-- /.Box header -->

            <!-- Box body -->
            <div class="box-body">
                <form  [formGroup]="eventForm" (ngSubmit)="addEvent()" >
                    <fieldset>
                        <!-- Title -->
                        <div class="form-group"
                             [ngClass]="{'has-error':!eventForm.controls['title'].valid && eventForm.controls['title'].touched}">
                            <label for="title">Titre* </label>
                            <div >
                                <input id="title" name="title" type="text" placeholder="Nom de l'evenement"
                                       class="form-control" required [formControl]="eventForm.controls['title']">
                            </div>
                            <!--Errors Msg-->
                            <div *ngIf="eventForm.controls['title'].hasError('required') &&
                                  eventForm.controls['title'].touched" class="alert alert-danger">
                                Le titre de l'evenement doit etre renseigné.
                            </div>
                            <!--/.Errors Msg-->
                        </div>

                        <!-- Picture -->
                        <div class="form-group">
                            <label for="illustration">Image </label>
                            <div>
                                <input id="illustration" name="illustration"  class="form-control" type="file"
                                       (change)="getIllustration($event.target.files[0].name)" accept=".png,.jpg,.jpeg">
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="form-group"
                             [ngClass]="{'has-error':!eventForm.controls['description'].valid && eventForm.controls['description'].touched}">
                            <label for="description">Description*</label>
                            <div >
                                <textarea id="description" name="description" placeholder="Description de l'evenement"
                                          class="form-control" rows="5" required
                                          [formControl]="eventForm.controls['description']"></textarea>
                            </div>
                            <!-- Errors Msg-->
                            <div *ngIf="eventForm.controls['description'].hasError('required') &&
                                  eventForm.controls['description'].touched" class="alert alert-danger">
                                La description de l'evenement doit etre renseignée.
                            </div>
                            <div *ngIf="eventForm.controls['description'].hasError('minlength') &&
                                  eventForm.controls['description'].touched" class="alert alert-danger">
                                La description de l'evenement doit contenir 5 caracteres minimum.
                            </div>
                            <div *ngIf="eventForm.controls['description'].hasError('maxlength') &&
                                  eventForm.controls['description'].touched" class="alert alert-danger">
                                La description de l'evenement doit contenir 750 caracteres maximum.
                            </div>
                            <!--/. Errors Msg-->
                        </div>

                        <!-- Events type -->
                        <event-types-select required="true" (eventTypeSelected)="getEventType($event)" ></event-types-select>

                        <!-- Events theme -->
                        <event-themes (themeSelected)="getTheme($event)"></event-themes>

                        <!-- Events age ranges -->
                        <event-ageRanges (ageRangeSelected)="getAgeRange($event)"></event-ageRanges>

                        <!-- AllDay -->
                        <div class="form-group"
                             [ngClass]="{'has-error':!eventForm.controls['allDay'].valid && eventForm.controls['allDay'].touched}">
                            <label>Tous les jours*</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="allDay" value="true"
                                           [formControl]="eventForm.controls['allDay']">
                                    Oui
                                </label>
                                <label class="radio-inline">
                                    <input #noAllday type="radio" name="allDay" value="false" (change)="displayHour(noAllday.value)"
                                           [formControl]="eventForm.controls['allDay']">
                                    Non
                                </label>
                            </div>
                        </div>

                        <!-- StartDate -->
                        <div class="form-group"
                             [ngClass]="{'has-error':!eventForm.controls['startDate'].valid && eventForm.controls['startDate'].touched}">
                            <label for="startDate">Date de debut*</label>
                            <div class="input-group" >
                                <input id="startDate" name="startDate" type="date" class="form-control" required
                                       [formControl]="eventForm.controls['startDate']">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>

                        <!-- EndDate -->
                        <div class="form-group"
                             [ngClass]="{'has-error':!eventForm.controls['endDate'].valid && eventForm.controls['endDate'].touched}">
                            <label for="endDate">Date de fin*</label>
                            <div class="input-group" >
                                <input id="endDate" name="startDate" type="date" class="form-control" required
                                       [formControl]="eventForm.controls['endDate']">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>

                        <!-- StartAt -->
                        <div *ngIf="noAllday.checked" class="form-group">
                            <label>Débute à </label>
                            <timepicker [showMeridian]="false" [minuteStep]="1" [(ngModel)]="startAt" [ngModelOptions]="{standalone: true}" ngDefaultControl></timepicker>
                        </div>

                        <!-- EndAt -->
                        <div *ngIf="noAllday.checked" class="form-group">
                            <label>Finit à </label>
                            <timepicker [showMeridian]="false" [minuteStep]="1" [(ngModel)]="endAt" [ngModelOptions]="{standalone: true}" ngDefaultControl ></timepicker>
                        </div>

                        <!-- Recurrence -->
                        <event-recurrences required="true" (recurrenceSelected)="getRecurrence($event)" ></event-recurrences>

                        <!-- Standard price -->
                        <div class="form-group">
                            <label for="stdPrice">Prix</label>
                            <div class="input-group" >
                                <input id="stdPrice" name="standardPrice" type="number" min="0"
                                       class="form-control" [formControl]="eventForm.controls['standardPrice']">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                            </div>
                        </div>

                        <!-- Reduced fare -->
                        <div class="form-group">
                            <label for="reducedFare">Reduction</label>
                            <div class="input-group" >
                                <input id="reducedFare" name="reducedFare" type="number" min="0"
                                       class="form-control" [formControl]="eventForm.controls['reducedFare']">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                            </div>
                        </div>


                        <!-- Number of tickets -->
                        <div class="form-group">
                            <label for="nbTickets">Nombre de tickets</label>
                            <div class="input-group" >
                                <input id="nbTickets" name="nbTickets" type="number" min="0"
                                       class="form-control" [formControl]="eventForm.controls['nbTickets']">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button (click)="goBack()" type="button" class="btn btn-danger"  title="Annuler"><i class="fa fa-ban"></i> Annuler</button>
                                <button [disabled]="!eventForm.valid" type="submit" class="btn btn-primary">Enregistrer la formation</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.Box body -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
