<!--Modal Delete Event-->
<div id="deleteModal" class="modal fade" >
    <div class="login-box modal-dialog modal-sm box box-primary">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="box-header with-border">
                <i class="fa fa-tags"></i>

                <h3 class="box-title">Supprimer l'evenement</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-widget="remove" data-toggle="tooltip" title="Fermer" data-dismiss="modal">
                        <i class="fa fa-times"></i></button>
                </div>
                <!-- /. tools -->
            </div>

            <div class="modal-body form-horizontal">
                <p>Etes vous sur de vouloir supprimer l'evenement ?</p>
            </div>

            <div class="modal-footer box-footer last-row">
                <button type="button" class="btn btn-default pull-left" data-widget="remove" data-toggle="tooltip" title="Fermer" data-dismiss="modal"><i class="fa fa-ban"></i> Annuler</button>
                <button (click)="delete()" type="button" class="btn btn-primary pull-right" data-dismiss="modal" ><i class="glyphicon glyphicon-trash"></i> Supprimer</button>
            </div>

        </div>
    </div>
</div>


<div *ngIf="msg" class="alert alert-success alert-dismissible">
    <a href="#/admin/events" (click)="closeAlert()" class="close">&times;</a>
    <strong>Evenement supprimé avec succes!</strong>.
</div>
<div class="table-responsive">
    <button (click)="newEvent()" type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-plus"></i> Ajouter un evenement</button>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Periode</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events" >
            <td >{{event.title}}</td>
            <td>
                <p>Du {{event.startDate}} Au {{event.endDate}}</p>
                <p *ngIf="event.allDay">Tous les jours</p>
                <p *ngIf="!event.allDay"> De {{event.startAt}} à {{event.endAt}}</p>
            </td>
            <td>
                <button (click)="showReservations(event.idEvent)" type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-bookmark"></i> Voir reservations</button>
                <button (click)="updateEvent(event.idEvent)" type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-edit"></i>Editer</button>
                <button (click)="deleteEvent(event.idEvent)" data-toggle="modal" data-target="#deleteModal" data-backdrop="false" type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>