<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les évènements du FABLAB
            <small *ngIf="authenticated">Sélectionner une catégorie</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Évènements</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">

            <!-- Box header -->
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tags"></i> Liste des évènements</h3>

                <eventtype></eventtype>

            </div>
            <!-- /.Box header -->

            <!-- Box body -->
            <div class="box-body">
                <!-- Split button -->

                <div class="row">

                    <div class="col-md-5" *ngFor="let event of events; let i = index">

                        <div class="box box-primary box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{event.title}}</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body text-center">
                                <img [attr.src]="event.picture" alt="Event Image" width="128px" height="95px"/>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center ">

                                <div class="col-sm-6 b-r no-padder">
                                    <button type="button" class="btn btn-block btn-primary ng-binding box-footer-btn-text">
                                        <span class="fa fa-bookmark"></span>
                                        Réserver
                                    </button>
                                </div>

                                <div class="col-sm-6 no-padder">
                                    <button (click)="showEvent(event.idEvent)" type="button" class="btn btn-block btn-primary ng-binding box-footer-btn-text">
                                        <span class="fa fa-eye"></span>
                                        Consulter
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!-- /.box -->
                    </div>

                </div>

            </div>
            <!-- /.Box body -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->