<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les Formations du FABLAB
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active"><a href="#/admin/trainings">Gestion des formations</a></li>
            <li class="active">Modification de formations</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">

            <!-- Box header -->
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-graduation-cap"></i> Modifier la formation</h3>
            </div>
            <!-- /.Box header -->

            <!-- Box body -->
            <div class="box-body">
                <form  #trainingForm="ngForm" (ngSubmit)="updateTraining()" >
                    <fieldset>
                        <!-- Name -->
                        <div class="form-groupId">
                            <label for="name">Nom</label>
                            <div >
                                <input id="name" name="name" type="text" placeholder="Nom de la formation"
                                       class="form-control" required [(ngModel)]="training.name" #name="ngModel" >
                            </div>
                            <!--Errors Msg-->
                            <div *ngIf="name.control.dirty && name.control.hasError('required')" class="alert alert-danger">
                                Le nom de la formation doit etre renseigné
                            </div>
                            <!--/.Errors Msg-->
                        </div>

                        <!-- Illustration -->
                        <div class="form-groupId">
                            <label for="illustration">Illustration</label>
                            <div>
                                <input id="illustration" name="illustration"  class="form-control" type="file"
                                       (change)="getIllustration($event.target.files[0].name)">
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="form-groupId">
                            <label for="description">Description</label>
                            <div >
                                <textarea id="description" name="description" placeholder="Description" class="form-control"
                                          rows="5" required minlength="5" maxlength="750"
                                          [(ngModel)]="training.description" #desc="ngModel"></textarea>
                            </div>
                            <!--Errors msg-->
                            <div *ngIf="desc.control.dirty && desc.control.hasError('required')" class="alert alert-danger">
                                La description de la formation doit etre renseignée.
                            </div>
                            <div *ngIf="desc.control.dirty && desc.control.hasError('minlength')" class="alert alert-danger">
                                La description de la formation doit contenir 5 caracteres minimum.
                            </div>
                            <div *ngIf="desc.control.dirty && desc.control.hasError('maxlength')" class="alert alert-danger">
                                La description de la formation doit contenir 750 caracteres maximum.
                            </div>
                            <!--/.Errors Msg-->
                        </div>

                        <!-- Number of tickets -->
                        <div class="form-groupId">
                            <label for="nbTicket">Nombre de tickets</label>
                            <div >
                                <input id="nbTicket" name="nbTicket" type="number" min="0"
                                       class="form-control" [(ngModel)]="training.nbTicket">
                            </div>
                        </div>

                        <!-- Display -->
                        <div class="form-groupId">
                            <label>Afficher dans la liste</label>
                            <div>
                                <label class="radio-inline">
                                    <input required type="radio" name="display" [value]=true [(ngModel)]="training.display" />
                                    Oui
                                </label>
                                <label class="radio-inline">
                                    <input required type="radio" name="display" [value]=false [(ngModel)]="training.display" />
                                    Non
                                </label>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-groupId">
                            <div class="col-md-12 text-right">
                                <button (click)="goBack()" type="button" class="btn btn-danger"  title="Annuler"><i class="fa fa-ban"></i> Annuler</button>
                                <button [disabled]="!trainingForm.valid" type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- /.Box body -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
