<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les Machines du FABLAB
            <small>Connectez-vous pour réserver une machine</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="active">Machines</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box box-primary">

            <!-- Box header -->
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cogs"></i> Liste des machines</h3>
            </div>
            <!-- /.Box header -->

            <!-- Box body -->
            <div class="box-body">
                <div class="row">

                    <div class="col-md-4" *ngFor="let machine of machines; let i = index">

                        <div class="box box-primary box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{machine.name}}</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body text-center">
                                <img [src]="machine.illustration" alt="User Image" width="128px"/>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-center ">

                                <div class="col-sm-6 b-r no-padder">
                                    <button type="button" class="btn btn-block btn-primary ng-binding box-footer-btn-text" ng-click="reserveMachine(machine, $event)">
                                        <span class="fa fa-bookmark"></span>
                                        Réserver
                                    </button>
                                </div>

                                <div class="col-sm-6 no-padder">
                                    <button type="button" class="btn btn-block btn-primary ng-binding box-footer-btn-text" (click)="showMachine($event, i+1)">
                                        <span class="fa fa-eye"></span>
                                        Consulter
                                    </button>
                                </div>

                            </div>
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </div>
            <!-- /.Box body -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->